# Ordner/Dateien, die NICHT ins Repo sollen
node_modules/
dist/
dist-web/
dist-manual/
*.log
.vscode/
.DS_Store
.github/
.husky/
# Build-/Release-Artefakte
dist/
dist-electron/
dist-release/
build/
*.log
*.zip
# Code-Signing Zertifikate (NIEMALS committen!)
*.pfx
*.p12
*.cer