# Ordner/Dateien, die NICHT ins Repo sollen
node_modules/
dist/
*.log
.vscode/
.DS_Store

# Test-Ergebnisse & Laufzeit-Dateien
tests/test-results/
logs/

# Build-/Release-Artefakte
dist/
dist-electron/
build/
release/
*.zip
*.exe